C5-SequenceModel\w2\datasets\glove.6B.50d.txt

**/*.npy
**/*.npz
**/*.pt
**/*.pth
**/*.pkl
**/*.csv
**/*.log

C5-SequenceModel/w2/datasets/glove.6B.50d.txt

**/*.tar.gz
**/*.zip
**/*.tar
**/*.gz
**/*.tgz
**/*.rar
**/data/ 

**/datasets/

**/*.csv

**/data/

deeplearningwithpytorch/practice/anomaly_detection/AD-v3-multi-channels.ipynb

deeplearningwithpytorch/practice/eda/eda.ipynb
