.sc-main {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: var(--gap);
    width: 100%;
    height: var(--contentHeight);
    position: relative;
}

@media only screen and (orientation: portrait) {
    .app-layout {
        --contentHeight: calc(100vh - var(--header-hight) - var(--sc-nav-size) - (var(--gap) * 4)) !important;
        grid-template-areas:
            "header header"
            "content content"
            "menu menu" !important;
        grid-template-rows: var(--header-hight) var(--contentHeight) var(--sc-nav-size) !important;
    }
}

.app-layout {
    grid-template-areas:
        "header header"
        "menu content"
        "menu content";
    --contentHeight: calc(100vh - var(--header-hight) - var(--gap) * 3);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: var(--header-hight) 1fr;
    grid-gap: var(--gap);
    padding: var(--gap);
    overflow: hidden;
}
