@import "_placement.css";

* {
    overscroll-behavior: none;
}

/* Re-enable selection of text in input*/
input {

}

@media only screen and (min-width: 2500px) {
    :root {
        --sc-nav-size: 7em;
    }
}

@media only screen and (orientation: portrait) {
}

.place-items-center {
    place-items: center;
}

img.float-right {
    float: right !important;
}

.modal-xxl {
    max-width: 93vw;
}

.modal-fullscreen.fullscreenspacer > .modal-content {
    height: calc(100% - (var(--spacer) * 2)) !important;
}

.modal-dialog.modal-fullscreen.fullscreenspacer {
    width: calc(100vw - (var(--spacer) * 2)) !important;
    margin: auto;
}

/*
    Temporary fix for proper styling of Blazor ValidationMessage components.
    Should be removed after https://github.com/dotnet/aspnetcore/pull/39990
    makes it into a release.
*/
.validation-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #E30613;
}

.js-end {
    justify-self: end;
}

.js-start {
    justify-self: start;
}

.rounded-max {
    border-radius: 999em;
}

.span-page {
    grid-row: span 12;
    grid-column: span 12;
}

.settingsContainer {
    display: grid;
    grid-template-columns: max-content 1fr min-content;
    grid-row-gap: calc(var(--spacer) / 2);
    grid-column-gap: var(--spacer);
}