@page "/counter"
<PageTitle>Counter</PageTitle>

<Tile Title="Counter" CssClass="span-page">

    <p role="status">Current count: @currentCount</p>

    <div class="buttonContainer">
        <Button @onclick="IncrementCount">Click me</Button>
    </div>
</Tile>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
