@page "/settings"
<PageTitle>Settings</PageTitle>

<Tile Title="User settings"
      CssClass="grs-1 gcs-1 gre-end gce-7"
      InfoURL="settings/usersettings"
      EditEvent="() => ModalUserSettings?.Activate()">
    <span class="text-muted">Some content...</span>
</Tile>

<Tile Title="Application settings"
      CssClass="grs-1 gcs-7 gre-end gce-end"
      InfoURL="settings/applicationsettings"
      EditEvent="() => ModalApplicationSettings?.Activate()">
    <span class="text-muted">Some content...</span>
</Tile>

<ModalGeneric ExitEvent="@(() => ModalUserSettings.IsActive = false)"
              TextTitle="Application settings"
              @ref="ModalUserSettings"
              IsLightDismissEnabled="false"
              CssClass="modal-height-fixed fullscreenspacer"
              TextButtonCancel="Close"
              ModalSize="ModalSize.Fullscreen">

    <span class="text-muted">Some content...</span>

</ModalGeneric>

<ModalGeneric ExitEvent="@(() => ModalApplicationSettings.IsActive = false)"
              TextTitle="Application settings"
              @ref="ModalApplicationSettings"
              TextButtonCancel="Close"
              ModalSize="ModalSize.Default">

    <span class="text-muted">Some content...</span>

</ModalGeneric>

@code {
    public required ModalGeneric ModalApplicationSettings { get; set; }
    public required ModalGeneric ModalUserSettings { get; set; }
}
